body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

[data-testid="print"] {
  /* display: none; */
}

@media print {
  [data-testid="print"] {
    display: block;
  }

  [data-testid="no-print"] {
    display: none;
  }
}

.KitchenGrid {
  display: grid;
  /* grid-template-columns: repeat(14, 1fr); */
  justify-content: center;
  align-items: center;
  grid-gap: 2px;
  text-align: center;
}

.KitchenGrid__Row {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 2px;
  text-align: center;
}

.KitchenGrid__Header {
  background: lightgrey;
}

.KitchenGrid__Row-blue {
  background: blue;
}
